.heading2Xl {
  font-size: 2.5rem;
  line-height: 1.2;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingXl {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 800;
  letter-spacing: -0.05rem;
  margin: 1rem 0;
}

.headingLg {
  font-size: 1.5rem;
  line-height: 1.4;
  margin: 01rem 0;
}

.headingMd {
  font-size: 1.2rem;
  line-height: 1.5;
  /* padding-left: 5%; */
}

.borderCircle {
  border-radius: 9999px;
}

.colorInherit {
  color: inherit;
}

.padding1px {
  padding-top: 1px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.listItem {
  margin: 0 0 1.25rem;
}

.lightText {
  /* font-size:medium; */
  color: #666;
}
.postSummary {
  font-size:small;
  color: #666;
  margin: 0rem 0;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: purple;
  color: white;
}


.footer {
  position:absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: black;
  font-size:small;
}

.content {
  position: absolute;
  top: 100px;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: indigo;
  color: white;
  padding-bottom: 30px;
}
.menubarTable{
  padding-left: 5%;
  padding-right: 5%;

}
.menubar {
  width:100%;
  height:64px;
}
.menubarName{
  width: 100%;
  vertical-align: top;
  font-weight: bold;
}

.menubarItem{
  width: 20%;
  vertical-align: top;
  text-align: right;
}

.mainImageContainer {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 960px;
  text-align:center;
  
}

.mainPadding{
  padding-left: 5%;
  padding-right: 5%;
}